<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Carrito - Techbat Express</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
  <div class="container mt-5">
    <h2 class="text-center mb-4">Mi Carrito</h2>

    <div id="contenedorCarrito" class="row g-4 justify-content-center"></div>

    <div class="text-center mt-4">
      <button id="btnPagar" class="btn btn-success">Simular Pago</button><br>
      <a href="index.html" class="btn btn-secondary mt-2">Volver al catálogo</a>
    </div>
  </div>

  <script src="../js/carrito.js"></script>
</body>
</html>
