<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techbat Express</title>
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <h1>Techbat Express</h1>
        <p>Catálogo de Juegos de Mesa</p>
    </header>
    <main class="categories">
        <a href="familiares.html" class="category">
            <img src="../img/juegofamiliar.jpg" alt="Juegos Familiares">
            <h2>Juegos Familiares</h2>
        </a>
        <a href="estrategia.html" class="category">
            <img src="../img/estrategia.jpg" alt="Juegos de Estrategia">
            <h2>Juegos de Estrategia</h2>
        </a>
        <a href="infantiles.html" class="category">
            <img src="../img/infantiles.jpg" alt="Juegos Infantiles">
            <h2>Juegos Infantiles</h2>
        </a>
        <a href="clasicos.html" class="category">
            <img src="../img/clasico.jpg" alt="Juegos Clásicos">
            <h2>Juegos Clásicos</h2>
        </a>
    </main>
</body>
</html>
